.new-item {
    width: 100%;
    background-color: transparent;

    button {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.5rem;
        margin-left: auto;
        padding: 1rem;
        font-weight: 700;
        color: var(--gray-3);
        background-color: var(--white);
        border: 1px solid var(--gray-2);
        border-radius: 999px;
        transition: var(--transition-1);

        &:hover {
            cursor: pointer;
            border-color: var(--gray-3);
        }
    }
}

.submit-fail {
    color: #ff0000;
    font-size: 0.9rem;
}
