.dropdown {
    position: absolute;
    width: 12rem;
    height: 0;
    margin-top: 1rem;
    transition: var(--transition-1);
}

.dropdown-content {
    background-color: var(--white);
    border: 1px solid var(--gray-1);
    border-radius: 35px;
    transition: var(--transition-1);
}
