.projects-container {
    position: relative;
    margin-top: 4rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(to right, var(--background), transparent);
        height: 12rem;
        width: 2rem;
        z-index: 10;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, transparent, var(--background));
        height: 12rem;
        width: 6rem;
        z-index: 12;
    }
}

.projects-slider {
    overflow-x: visible;
    overflow-y: hidden;
    scrollbar-width: none;

    .arrow-left, .arrow-right {
        position: absolute;
        top: 50%;
        opacity: 0.5;
        backdrop-filter: blur(10px);
        background-color: var(--white);
        border: 1px solid var(--gray-1);
        border-radius: 50%;
        width: 64px;
        height: 64px;
        cursor: pointer;
        z-index: 13;
        transition: var(--transition-1);

        svg {
            fill: var(--foreground);
        }

        &:hover {
            border-color: var(--gray-2);
        }

        &:nth-of-type(1) { left: 0; }
        &:nth-of-type(2) { right: 0; }
    }
}

.projects-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 12rem;
    width: max-content;
    padding: 2px 0;
    gap: 1rem;
    
    a {
        position: relative;
        height: 100%;
        width: 24rem;
        padding: 1.5rem;
        border: 1px solid var(--gray-1);
        background-color: var(--white);
        border-radius: 35px;
        transition: var(--transition-1);
        
        span {
            position: absolute;
            bottom: 1.5rem;
            left: 2.5rem;
            font-weight: 700;
            color: var(--gray-3);
        }

        &:first-of-type { margin-left: 1rem; }
        &:last-of-type { margin-right: 6rem; }

        &:hover {
            cursor: pointer;
            border-color: var(--gray-2);
        }
    }

    .empty {
        display: block;
        position: relative;
        height: fit-content;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2rem;
        color: var(--gray-2);
    }
}

.skeleton {
    position: relative;
    height: 100%;
    width: 24rem;
    padding: 1.5rem;
    background-color: var(--gray-1);
    background: linear-gradient(135deg, var(--gray-1), var(--gray-2));
    border-radius: 35px;
    z-index: 11;

    animation: ease-in 0.3s infinite alternate shimmer;

    &:first-of-type { margin-left: 1rem; }
    &:last-of-type { margin-right: 1rem; }
}

@keyframes shimmer {
  0% { opacity: 0.6; }
  100% { opacity: 1; }
}
