.sidebar {
    height: 90vh;
    width: 17rem;
    overflow-y: auto;
}

.logo {
    margin-bottom: 2rem;
}

.sidebar-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 80%;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    a, button {
        display: flex;
        font-weight: 400;
        align-items: center;
        gap: 0.75rem;
        border-radius: 10px;
        padding: 0.4rem 0.6rem;
        background-color: transparent;
        border: 1px solid transparent;
        transition: var(--transition-1);

        &:hover {
            cursor: pointer;
            background-color: var(--gray-0);
        }
    }
}
