.details {
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 0.25rem 3rem;
}

.detail {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;

    .label {
        font-weight: 300;
        color: var(--gray-2);
        margin-right: 0.5rem;
    }

    .date {
        font-weight: 400;
        color: var(--gray-3);
    }

    .status {
        font-weight: 700;
        color: rgb(69, 91, 230);
    }

    button {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        transition: var(--transition-1);

        &:hover {
            transform: translateY(-2px);
            cursor: pointer;
        }
    }
}

.name {
    font-weight: 400;
    font-size: 0.95rem;
    color: var(--gray-3);
}

.clients {

    .list {
        background-color: var(--background);
        padding: 1.5rem 2rem;
        border: 1px solid var(--gray-2);
        border-radius: 35px;
        max-height: 20rem;
        overflow-y: scroll;
    }

    .client {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem 1rem;

        color: var(--gray-3);
        font-weight: 300;

        margin-bottom: 0.2rem;
        padding: 0.5rem 1.7rem;
        background-color: var(--white);
        border: 1px solid var(--gray-1);
        border-radius: 3px;
        width: 100%;
        min-height: 3rem;
        transition: var(--transition-1);

        &:first-of-type {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        &:last-of-type {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        &:hover {
            cursor: pointer;
            border-color: var(--gray-2);
        }
    }
}
