.details {
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 0.25rem 3rem;
}

.detail {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;

    .label {
        font-weight: 300;
        color: var(--gray-2);
        margin-right: 0.5rem;
    }

    .date {
        font-weight: 400;
        color: var(--gray-3);
    }

    .status-edit {
        font-weight: 700;
        color: var(--white);
        /* background-color: hsl(232, 100%, 70%); */
        background-color: var(--gray-2);
        padding: 0.2rem 0.4rem;
        border-radius: 5px 0 0 5px;
    }

    .assign, .status {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.4rem;

        font-weight: 700;
        border: 1px solid var(--gray-2);
        border-radius: 5px;
        background-color: var(--white);
        padding: 0.2rem 0.4rem;
        transition: var(--transition-1);

        &:hover {
            border-color: var(--gray-3);
            cursor: pointer;
        }

        &.status {
            padding: 0;
        }
    }
}

.name {
    font-weight: 400;
    font-size: 0.95rem;
    color: var(--gray-3);
}

.items {

    .item-list {
        max-height: 20rem;
        overflow-y: scroll;
    }

    .item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem 1rem;

        color: var(--gray-3);
        font-weight: 300;

        margin-bottom: 0.2rem;
        padding: 0.5rem 1.7rem;
        background-color: var(--white);
        border: 1px solid var(--gray-1);
        border-radius: 3px;
        width: 100%;
        min-height: 3rem;
        transition: var(--transition-1);

        &:first-of-type {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        &:last-of-type {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        &:hover {
            cursor: pointer;
            border-color: var(--gray-2);
        }
    }
}

.status {
    .status-list {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;

        button {
            color: var(--gray-3);
            text-align: left;
            font-weight: 400;
            background-color: var(--white);
            border: 1px solid var(--gray-1);
            border-radius: 15px;
            height: 3rem;
            padding: 0 1.7rem;
            transition: var(--transition-1);

            &:hover {
                cursor: pointer;
                border-color: var(--gray-2);
            }

            /* &.cancelled { background-color: hsl(0, 60%, 97%); }
            &.paused { background-color: hsl(52, 60%, 97%); }
            &.in-progress { background-color: hsl(232, 60%, 97%); }
            &.completed { background-color: hsl(120, 60%, 97%); } */
        }
    }
}
