.button {
    width: 100%;
    height: 45px;
    padding: 0 1rem;
    border: 1px solid var(--gray-1);
    border-radius: 15px;

    margin-top: 2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    transition: var(--transition-1);

    &:hover {
        border-color: var(--gray-2);
    }
}

.button-main {
    background-color: var(--primary);
    color: var(--white);
}

.button-alt {
    background-color: transparent;
    color: var(--foreground);
}
